@page
@model DynsecAdmin.Pages.LoginModel
@{
}
<div class="row">
<form method="post" class="col-md-3">
    <div class="mb-3">
        <label asp-for="Username" class="form-label"></label>
        <input type="text" class="form-control" asp-for="Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" class="form-control" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" asp-for="Kmsi">
        <label class="form-check-label" asp-for="Kmsi">Stay logged in</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>

</form>
</div>