@page
@model DynsecAdmin.Pages.Groups.AddModel
@{
    ViewData["Title"] = "Add group";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="mb-3">
        <label asp-for="Groupname"></label>
        <input type="text" class="form-control" asp-for="Groupname" />
        <span asp-validation-for="Groupname" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input type="text" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input type="text" class="form-control" asp-for="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
